$mainBackColorTheme: #563d7c;
$mainTextColorTheme: #cbbde2;
$catalogTextColorActive: #fff;
$mainBannerBackground: #e9ecef;
$footerBackground: #f7f7f7;
$footerTextColor: #495057;
$searchBgColor: #f1f3f5;
