@import "variables";
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

/* GLOBAL */

@media (min-width: 768px) {
    [role="main"] {
        padding-top: 56px;
    }
}

.items-list{
    td{
        vertical-align: baseline;
    }

    td.product-img img{
        max-width: 70px;
        max-heigth: 70px;
    }
}


.status-ok{
    color: #11822f;
}

.status-not{
    color: #a61e4d;
}

.v-top{
    vertical-align: top;
}

.btn-custom{
    padding: 8px 16px;
    color: #fff;
}

.btn-back{
    background-color: #777;
}

/* HEADER */

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

/* SIDEBAR */

.sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 56px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);

    .sidebar-sticky{
        position: sticky;
        top: 0;
        height: calc(100vh - 48px);
        padding-top: .5rem;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

/* Edit products */

.img-container{
    border: 2px dashed #d3d2d2;
    position: relative;
    border-radius: 4px;
    padding: 10px;
    font-size: 0;
    min-height: 255px;
    overflow: hidden;
    max-width: 224px;

    input[type=file]{
        top: 35px;
        left: 0;
        opacity: 0;
        position: absolute;
        display: block;
        width: 100%;
        height: 42px;
        cursor: pointer;
    }

    .img-edit-panel{
        height: 20px;
        margin: 5px 0;
        font-size: 20px;
    }

    .img-del{
        cursor: pointer;
    }

    .img-list-descr{
        font-size: 14px;
        font-weight: bold;
        color: #aebac3;
        text-align: center;
        position: relative;
        display: block;
        margin-top: 25px;
    }
}


