// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/* HEADER */

.catalog-menu{
  background-color: $catalogBackground;

  nav{
    .nav-link{
      color: $catalogTextColor;
    }

    .nav-link.active{
      background-color: transparent;
      color: $catalogTextColorActive;
    }
  }
}

/* MAIN PAGE */

.main-banner{
  background-color: $mainBannerBackground;
  padding: 40px 20px;
}

.random-products{
  padding: 20px 0;

  .random-products__header{
    h3{
      text-align: center;
    }
  }

  .random-products--item{
    border: solid 1px #4e555b;
  }
}

/* SECTION */

.section-items__item{
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);

  .item__body{
    padding: 10px;

    .item__body-title{
      height: 40px;
    }
  }
}

/* FOOTER */

footer{
  background-color: $footerBackground;
  min-height: 150px;
  padding: 20px 0;
}